<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    
</head>
<body>

    <div class="user-modal">
        <div class="user-modal-container">
            <ul class="switcher">
                <li><a href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="login">
                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        <span class="error-message">An account with this email address does not exist!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Wrong password! Try again.</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width" type="submit" value="Login">
                    </p>
                </form>

                <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
                <!-- <a href="#0" class="close-form">Close</a> -->
            </div>

            <div id="signup">
                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <span class="error-message">Enter a valid email address!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Your password has to be at least 6 characters long!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                </form>

                <!-- <a href="#0" class="cd-close-form">Close</a> -->
            </div>

            <div id="reset-password">
                <p class="form-message">Lost your password? Please enter your email address.</br> You will receive a link to create a new password.</p>

                <form class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <span class="error-message">An account with this email does not exist!</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div>
            <a href="#0" class="close-form">Close</a>
        </div>
    </div>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="sidebar-header">
                        <h3>Bootstrap Sidebar</h3>
                    </div>

                    <ul class="list-unstyled components">
                        <p>Dummy Heading</p>
                        <li class="active">
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="collapsed">Home</a>
                            <ul class="list-unstyled collapse" id="homeSubmenu" aria-expanded="false" style="height: 0px;">
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Home 1</a></li>
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Home 2</a></li>
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Home 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">About</a>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page 1</a></li>
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page 2</a></li>
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Portfolio</a>
                        </li>
                        <li>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Contact</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled CTAs">
                        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                    </ul>
                </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 641px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" class="">
            <nav class="navbar navbar-default top-bar" style="position:  fixed;left: 277px;right: 2px;top: 0;    z-index: 1;">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page</a></li>
                            <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page</a></li>
                            <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page</a></li>
                            <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page</a></li>
                        </ul>
                        <form class="navbar-form" id="search" role="search">
                            <div class="form-group">
                                <input type="text" id="searchbox" class="ui-widget form-control" placeholder="Search">
                            </div>
                            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                        </form>
                    </div>
                </div>
            </nav>
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="success" class="alert-favourite alert alert-success alert-dismissible fade in invisible">
        <button  class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong>Success!</strong> Added to Favourites
    </div>
    <div id="failure" class="alert-favourite alert alert-danger alert-dismissible fade in ">
        <button  class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong>Failure!</strong> An Error Occured
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
