<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    
</head>
<body>

    <div class="user-modal">
        <div class="user-modal-container">
            <ul class="switcher">
                <li><a>Sign in</a></li>
                <li><a>New account</a></li>
            </ul>

            <div id="login">
                <form data-bind="submit: login" class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="signin-email">E-mail</label>
                        <input data-bind="value: loginEmail"  class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signin-password">Password</label>
                        <input data-bind="value: loginPassword" class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Password">
                        <a class="hide-password">Show</a>
                    </p>
                    <p class="fieldset">
                        <input class="full-width" type="submit" value="Login">
                    </p>
                    <div class="form-group error-messages" data-bind="foreach: errors">
                        <p data-bind="text: $data" />
                    </div>
                </form>
            </div>

            <div id="signup">
                <form data-bind="submit: register" class="form">
                    <p class="fieldset">
                        <label class="image-replace email" for="signup-email">E-mail</label>
                        <input data-bind="value: registerEmail" class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signup-password">Password</label>
                        <input data-bind="value: registerPassword" class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Password">
                        <a  class="hide-password">Show</a>
                    </p>
                    <p class="fieldset">
                        <label class="image-replace password" for="confirm-password">Confirm Password</label>
                        <input data-bind="value: registerPassword2" class="full-width has-padding has-border" id="confirm-password" type="password" placeholder="Password">
                        <a class="hide-password">Show</a>
                    </p>
                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account">
                    </p>
                    <div class="form-group error-messages" data-bind="foreach: errors">
                        <p data-bind="text: $data" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;z-index: 1;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="sidebar-header">
                        <h3>Immedia</h3>
                    </div>

                    <ul class="list-unstyled components">
                        <p>Dummy Heading</p>
                        <li>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Home</a>
                            <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Saved Pictures</a>
                             <a href="https://bootstrapious.com/tutorial/sidebar/index2.html#pageSubmenu" data-toggle="collapse" aria-expanded="false">My Locations</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li><a href="https://bootstrapious.com/tutorial/sidebar/index2.html#">Page 1</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" class="">
            <nav class="navbar navbar-default top-bar" style="position:  fixed;left: 277px;right: 2px;top: 0;    z-index: 1;">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                
                    <div class="collapse navbar-collapse main-nav" id="bs-example-navbar-collapse-1">
                        <ul class="nav signup-nav navbar-nav navbar-right">
                            <li><a class="signin">Sign in</a></li>
                            <li><a class="signup">Sign up</a></li>
                        </ul>

                        <form class="navbar-form" id="search" role="search">
                            <div class="form-group">
                                <input type="text" id="searchbox" class="ui-widget form-control" placeholder="Search">
                            </div>
                            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                        </form>
                    </div>
                </div>
            </nav>
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="success" style="display:none" class="alert-favourite alert alert-success alert-dismissible fade in ">
        <button  class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong id="success_message">Success!</strong> <label id="success_message"></label>
    </div>
    <div id="failure"  style="display:none" class="alert-favourite alert alert-danger alert-dismissible fade in ">
        <button  class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong id="failure_message">Failure!</strong> <label id="failure_message"></label>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
